GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     0,0,4,0
PRODUCTVERSION  0,0,4,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      //VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "Flight simulator with pear-like characteristics. 4rd attempt, very early alpha. Made with raylib (www.raylib.com)"
      VALUE "FileVersion", "0.0.4"
      VALUE "InternalName", "pearoplane-alpha"
      VALUE "LegalCopyright", "(c) 2026 Pearbaby plc"
      //VALUE "OriginalFilename", "raylib_app"
      VALUE "ProductName", "Pearoplane"
      VALUE "ProductVersion", "0.0.4"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
